%h1 Listing customers

%table
  %tr
    %th Token
    %th Address
    %th
    %th
    %th

  - @customers.each do |customer|
    %tr
      %td= customer.token
      %td= customer.address
      %td= link_to 'Show', customer
      %td= link_to 'Edit', edit_customer_path(customer)
      %td= link_to 'Destroy', customer, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Customer', new_customer_path
