= form_for @order do |f|
  - if @order.errors.any?
    #error_explanation
      %h2= "#{pluralize(@order.errors.count, "error")} prohibited this order from being saved:"
      %ul
        - @order.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :total
    = f.number_field :total
  .field
    = f.label :shipped
    = f.check_box :shipped

    = f.fields_for :address do |builder|
      .field
        = builder.label :city
        %br/
        = builder.text_field :city
    = f.fields_for :rooms do |builder|
      .field
        = builder.label :size
        %br/
        = builder.number_field :size
    = f.fields_for :owner do |builder|
      .field
        = builder.label :fname
        %br/
        = builder.text_field :fname
      .field
        = builder.label :lname
        %br/
        = builder.text_field :lname
  .actions
    = f.submit 'Save'
