.heading
  %h1   
    =@id
%nav.navbar.navbar-inverse.navbar-fixed-top#hack
  .container
    / Brand and toggle get grouped for better mobile display
    .navbar-header.page-scroll
      %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{href: "#page-top"} Katalyst
    / Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li.hidden
          %a{href: "#page-top"}
        %li.page-scroll
          = link_to('See all Available products',   products_path)
        %li.page-scroll
          = link_to 'Logout',  destroy_customer_session_path, method: :delete


#thing.clearfix
  .sriBody
    #allPictures
      - @instagramPics.each_with_index do |instagram,index| 
        .eachphoto{"data-item-quanity" => 0, "data-pic-index" => index, "data-hasBeenSelected" =>false, "data-instagram-tag-id"=> instagram.id }
          = image_tag instagram.images.low_resolution.url
          = link_to photos_path(image_url: instagram.images.low_resolution.url ), method: :post do
            .overlay
              %h2 
                Select this photo
              %ul
                %li.btn.btn-success.btn-lg
                  %a.glyphicon.glyphicon-search{"data-img-url" => instagram.images.standard_resolution.url, "data-toggle" => "modal", href: "#myModal"}
                %li.btn.btn-success.btn-lg
                  %a.glyphicon.glyphicon-plus
                %li.btn.btn-success.btn-lg
                  %a.glyphicon.glyphicon-minus{}
              .count#counT 
                %h2 0


#myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog",  tabindex: "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} X
  .modal-body
    %img{src: "#"}/
  .modal-footer
    %button.btn.label-success{"aria-hidden" => "true", "data-dismiss" => "modal"} Close

/ We have #{@order.lineitems.select { |li| li.product_id == @product.id }.length} lineitems

= nested_form_for @order do |f|
  - if @order.errors.any?
    #error_explanation
      %h2= "#{pluralize(@order.errors.count, "error")} prohibited this order from being saved:"
      %ul
        - @order.errors.full_messages.each do |msg|
          %li= msg

  / - @instagramPics.each do |x|
  .field
    = f.hidden_field :total , :data => {:test => '6'}
  .field
    = f.hidden_field :shipped
    = f.fields_for :lineitems do |builder|
      - if builder.object.product == @product
        .field
          = builder.hidden_field :quantity, "data-instagram-form-id" => builder.object.instagram_id
        .field   
          = builder.hidden_field :unit_price
        .field   
          = builder.hidden_field :instagram_id
        .field   
          = builder.hidden_field :instagram_url         
        .field   
          = builder.hidden_field :product_id
  .actions
    = f.submit 'Update Your Order', :id => 'orderButton', :class => "button btn btn-danger btn-lg"
