/ %p#notice
/   = notice

- if !flash.empty?


  #notice.alert.alert-dismissable.alert-info
    %button.close{"data-dismiss" => "alert", type: "button"} ×
    - flash.each do |name, msg|
      #flashNav
        / = content_tag :div, msg, :id => "flash_#{name}"
        = notice

%p
  %b Order details!!

#pic
  = image_tag(current_customer.image)

%section
  .container
    .row
      .col-lg-12
        .page-header
          %h1#container Welcome Guest
        .bs-component
          .jumbotron
            %h1 Checkout
            %p Please review your order.
            - if !@current_order.iscomplete
              = link_to pay_order_path(@current_order) do
                %a.btn.btn-primary.btn-lg Proceed to payment
        %ul.list-group
          %li.list-group-item
            %span.badge 14
            Cras justo odio
          %li.list-group-item
            %span.badge 2
            Dapibus ac facilisis in
          %li.list-group-item
            %span.badge 1
            Morbi leo risus


- @current_order.lineitems.each do |lineitem|
  %tr      
    %td= lineitem.quantity
    %td= lineitem.unit_price
    %td= lineitem.product_id
    %td= lineitem.instagram_id
    #picLineItemInstaThumb
      - if lineitem.photo
        - url = lineitem.photo.image.thumb
      - else
        - url = lineitem.instagram_url
      = image_tag(url)


- if !@current_order.iscomplete
  = link_to pay_order_path(@current_order) do
    %button.btn.btn-success.btn-lg
      %span.glyphicon.glyphicon-user
        procedd to payment 

- if @current_order.iscomplete
  = link_to(order_path(@current_order, format: "pdf")) do
    %button.btn.btn-info.btn-lg 
      %span Download Invoice


