!!!
%html{lang: "en"}
  %head
    %title Welcome to Katalyst - One stop site for wonderful gifts


  %body#page-top.index
    - if customer_signed_in?
      Logged in as
      %b= current_customer.email
      \|
      = link_to 'Edit Profile', edit_customer_registration_path
      \|
      = link_to 'Logout',  destroy_customer_session_path, method: :delete
      \| 
      = link_to('see your photos!!', instagram_user_recent_media_path)
      \| 
      = link_to('See all avialble products',   products_path)
    - else
      Sign in with
      = link_to "Instagram", customer_omniauth_authorize_path(:instagram)
      or     
      \|
      = link_to 'Sign up', customer_registration_path
      \|
      = link_to 'Login', new_customer_session_path
    %nav.navbar.navbar-default.navbar-fixed-top#hack
      .container
        / Brand and toggle get grouped for better mobile display
        .navbar-header.page-scroll
          %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", type: "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{href: "#page-top"} Katalyst
        / Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav.navbar-right
            %li.hidden
              %a{href: "#page-top"}
            %li.page-scroll
              %a{href: "#products"} Products
            %li.page-scroll
              %a{href: "#about"} About
            %li.page-scroll
              = link_to "Log in with Instagram", customer_omniauth_authorize_path(:instagram)             
            %li.page-scroll
              %a{href: "#contact"} Contact
    %header
      .container
        .row
          .col-lg-12
            %img.img-responsive{alt: "", src: "/assets/tshirtsINIT.jpg"}/
            .intro-text
              %span.name Cache Gifts
              %hr.star-light/
              %span.skills Make Amazing gifts with your instagram pictures
    %section#products
      #carousel-example-generic.carousel.slide{"data-ride" => "carousel"}
        / Indicators
        %ol.carousel-indicators
          %li.active{"data-slide-to" => "0", "data-target" => "#carousel-example-generic"}
          %li{"data-slide-to" => "1", "data-target" => "#carousel-example-generic"}
          %li{"data-slide-to" => "2", "data-target" => "#carousel-example-generic"}
          %li{"data-slide-to" => "3", "data-target" => "#carousel-example-generic"}
          %li{"data-slide-to" => "4", "data-target" => "#carousel-example-generic"}
          %li{"data-slide-to" => "5", "data-target" => "#carousel-example-generic"}
        / Wrapper for slides
        .carousel-inner
          .item.active
            %img#carou{alt: "", src: "/assets/tshirtsINIT.jpg"}
            .carousel-caption
              %h3 Rockstar t-shirts  
          .item
            %img#carou{alt: "", src: "/assets/mugsINIT.jpg"}/
            .carousel-caption
              %h3 Pictastic mugs
          .item
            %img#carou{alt: "", src: "/assets/postersINIT.jpg"}/
            .carousel-caption
              %h3 Powerful Posters? 
          .item
            %img#carou{alt: "", src: "/assets/buttonsINIT.jpg"}/
            .carousel-caption
              %h3 I like buttons don't you? 
          .item
            %img#carou{alt: "", src: "/assets/magnetsINIT.jpg"}/
            .carousel-caption
              %h3 Magnets    
          .item
            %img#carou{alt: "", src: "/assets/cardsINIT.jpg"}/
            .carousel-caption
              %h3 Pictastic mugs                                                            
              
        / Controls
        %a.left.carousel-control{"data-slide" => "prev", href: "#carousel-example-generic", role: "button"}
          %i.fa.fa-5.fa-chevron-left{style: 'font-size: 2em; line-height: 600px;'}
        %a.right.carousel-control{"data-slide" => "next", href: "#carousel-example-generic", role: "button"}
          %i.fa.fa-5.fa-chevron-right{style: 'font-size: 2em; line-height: 600px;'}      
    %section#portfolio
      .container
        .row
          .col-lg-12.text-center
            %h2 Products
            %hr.star-light/
        .row
          .col-lg-4.col-lg-offset-2
            %p Log in with your Instagram account to see our wide range of amazing products 
          .col-lg-4
            %p We're adding new gift ideas everyday, so watch this space!
    %section#about.success
      .container
        .row
          .col-lg-12.text-center
            %h2 About
            %hr.star-light/
        .row
          .col-lg-4.col-lg-offset-2
            %p Katalyst is a new web development studio based in the City of London. Cache Gifts is its first project
          .col-lg-4
            %p If you're looking for amazing gift ideas, and are a fan of Instagram, Cache Gifts is the place for you.
    %section#about
      .container
        .row
          .col-lg-12.text-center
            %h2 About
            %hr.star-light/
        .row
          .col-lg-4.col-lg-offset-2
            %p Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional LESS stylesheets for easy customization.
          .col-lg-4
            %p Whether you're a student looking to showcase your work, a professional looking to attract clients, or a graphic artist looking to share your projects, this template is the perfect starting point!
          .col-lg-8.col-lg-offset-2.text-center
            %a.btn.btn-lg.btn-outline{href: "#"}
              %i.fa.fa-download
              Download Theme

    %footer.text-center#contact
      .footer-above
        .container
          .row
            .footer-col.col-md-4
              %h3 Location
              %p
                3481 Melrose Place
                = succeed "Beverly" do
                  %br/
            .footer-col.col-md-4
              %h3 Around the Web
              %ul.list-inline
                %li
                  %a.btn-social.btn-outline{href: "#"}
                    %i.fa.fa-fw.fa-facebook
                %li
                  %a.btn-social.btn-outline{href: "#"}
                    %i.fa.fa-fw.fa-google-plus
                %li
                  %a.btn-social.btn-outline{href: "#"}
                    %i.fa.fa-fw.fa-twitter
                %li
                  %a.btn-social.btn-outline{href: "#"}
                    %i.fa.fa-fw.fa-linkedin
                %li
                  %a.btn-social.btn-outline{href: "#"}
                    %i.fa.fa-fw.fa-dribbble
            .footer-col.col-md-4
              %h3 Need a Web Developer?
              %p
                This page (and app) was created by Sri Mohan using open source components from the web. If you're looking to hire a junior developer, you can contact me 
                = succeed "." do
                  %a{href: "http://aboutme.com"} here
      .footer-below
        .container
          .row
            .col-lg-12
              Copyright © 2014 - Cache Money
    .scroll-top.page-scroll.visible-xs.visble-sm
      %a.btn.btn-primary{href: "#page-top"}
        %i.fa.fa-chevron-up
    




