%h1 Listing products

%table
  %tr
    %th LI quanitity 
    %th LI unit price 
    %th LI product id 
    %th LI instagram pic id 
    %th
    %th
    %th

  - @products.each do |product|
    %tr
      %p
        %b hey:
        = link_to edit_order_path(@current_order, :product_id => product.id) do
          = image_tag("http://www.zwaldtransport.com/images/placeholders/placeholder1.jpg")

  - @current_order.lineitems.each do |lineitem|
    %tr      
      %td= lineitem.quantity
      %td= lineitem.unit_price
      %td= lineitem.product_id
      %td= lineitem.instagram_id
       
%br






/ = link_to "CHECKOUT" , carts_landingpage_path

/ <a href= "/pages/cartpage"> Connect </a>
%a{href: "/pages/cartpage"} Connect