!!!
%html
  %head
    %link{href: "http://fonts.googleapis.com/css?family=Montserrat:400,700", rel: "stylesheet", type: "text/css"}
    %title KatalystApp
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    - if customer_signed_in?
      Logged in as
      %b= current_customer.email
      \|
      = link_to 'Edit Profile', edit_customer_registration_path


      \|
      = link_to 'Logout',  destroy_customer_session_path, method: :delete
      \| 
      = link_to('see your photos!!', instagram_user_recent_media_path)
      \| 
      = link_to('See all avialble products',   products_path)
    - else
      Sign in with
      = link_to "Instagram", customer_omniauth_authorize_path(:instagram)
      or     
      \|
      = link_to 'Sign up', customer_registration_path
      \|
      = link_to 'Login', new_customer_session_path
    = yield